LOGGASYNK_CLIENT_ID=lgs_test_client_id
LOGGASYNK_CLIENT_SECRET=replace_with_client_secret
LOGGASYNK_INSTANCE_ID=inst_3f9a2c1b-7d4e-4a86-9b1f-2c5e8a0d6f12
LOGGASYNK_INSTANCE_NAME=Suporte
LOGGASYNK_PROFILE_PHOTO_URL=https://cdn.seusite.com/avatar.png
LOGGASYNK_PROFILE_NAME=Suporte LoggaSynk
LOGGASYNK_PROFILE_DESCRIPTION=Atendimento das 9h as 18h.
LOGGASYNK_WEBHOOK_URL=https://connect.bytebrix.com.br/webhooks/whatsapp
LOGGASYNK_MESSAGE_PHONE=5511999999999
LOGGASYNK_MESSAGE_TEXT=Ola! Seu pedido foi aprovado.
LOGGASYNK_IMAGE_URL=https://cdn.seusite.com/comprovante.png
LOGGASYNK_IMAGE_CAPTION=Segue o comprovante.
LOGGASYNK_WEBHOOK_SIGNING_SECRET=replace_with_webhook_secret
